body{
    background-color: black;

    font-family: 'Signika', sans-serif;
}

.navbar-style{
    color: white;

    border-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;

    background-image: url(../images/main-row-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#logo-container {
    margin: 40px 15px;
    
    background-image: url(../images/main-row-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#logo-col {
    background-color: black;
}

#aspects-container {
    margin: 40px 0 0 0;

}

#slogan {
    color: white;
}

#fitness-desc-row, #meals-desc-row, #personalize-desc-row {
    margin: 40px 0;

}

#desc-col {
    padding: 0;
    height: 150px;

    border-radius: 5px;

    background-image: url(../images/main-row-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
#desc-text {
    padding: 5px;

    color: white;
}

#desc-meals-col {
    padding: 0;
    height: 150px;

    background-image: url(../images/main-food.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}